---
import "../styles/global.css"; // ✅ Importa tu archivo global aquí
import AppWrapper from "../components/AppWrapper";
const { children } = Astro.props;
---

<div class="bg-[url('/bg.png')] bg-cover min-h-screen overflow-hidden font-retro relative w-screen h-screen">
    <AppWrapper client:only="react" />
  {children}
</div>
